$backColor : #06111C;
$grayColor : #949ebc;
$lblackColor : #b4b4b4;
$primaryColor: #ff5c00;
$primaryHover: rgb(213, 78, 0);
$fontFam: 'Open Sans', sans-serif;
$primaryTransparent: rgba(213, 78, 0, 0.2);
$secondaryTransparent: rgba(213, 78, 0, 0.3);
$transition: all 0.3s ease;
$borderRadius: 5px;